<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amr.udacity_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moviesicon"
        android:label="Movies"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amr.udacity_app.MainActivity" />
        </activity>
        <activity
            android:name=".Trailers"
            android:label="Trailers"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amr.udacity_app.DetailActivity" />
        </activity>
        <activity
            android:name=".Reviews"
            android:label="Reviews"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amr.udacity_app.DetailActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="Details Movie">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amr.udacity_app.MainActivity" />
        </activity>
        <activity android:name=".FavouriteActivity"
            android:label="Favourite Movies">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.amr.udacity_app.MainActivity" />
        </activity>
        <provider
            android:name=".DataBase.MovieProvider"
            android:authorities="com.example.amr.udacity_app.DataBase.MovieProvider"
            android:permission="com.example.amr.PROVIDER"
            android:process=":provider"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>